@import "../scss-root/base";

.app-main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    .game-window {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
        gap: 1em;
        @media(max-width: 800px) {
            padding: 1em;
        }
    }
}
