@import "../scss-root/base";

.answer-btn {
    padding: 1.2em;
    max-width: 10em;
    background: $color-medium-purple;
    font-size: 20px;
    font-weight: 500;
    color: $color-white;
    border: none;
    border-radius: 0.25rem;
}
.answer-btn:hover {
    background: #4c1d72;
}

.answer-btn.correct {
    background: $color-spring-green;
    color: $color-white;
}
.answer-btn.incorrect {
    color: $color-white;
    background: $color-lake-red;
}