@import "../scss-root/base";

.answer-btn {
    padding: 0.8em;
    width: 250px;
    background: $color-medium-purple;
    font-size: 18px;
    font-weight: 500;
    color: $color-white;
    border-radius: 0.25rem;
    border: none;
}
.answer-btn:hover {
    background: #4c1d72;
}

.answer-btn.correct {
    background: $color-spring-green;
    color: $color-white;
}
.answer-btn.incorrect {
    color: $color-white;
    background: $color-lake-red;
}