@import '../scss-root/base';

.app-header {
    background: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 15vh;
    
    border-radius: 0 0 25% 25% / 4vw;

    @media(max-width: 666px) {
        height: auto;
        margin-top: 5px;
    }
    .header-brand {
        
        font-weight: 900;
        font-size: clamp(24px, 4vw, 32px); 
    }
}