@import "../scss-root/base";

.app-footer {
    background: $color-primary;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width: 700px) {
        flex-direction: column-reverse;
        height: 8vh;
    }
    .footer-link a {
        color: $color-white;
    }
}