

$color-space-purple: #22223b;
$color-medium-purple: #753ea3;

$color-purple-gradient: radial-gradient(#753ea3, #40205B);

$color-lake-red: #c3423f;
$color-spring-green: #137547;

$color-slate-gray: #404e4d;
$color-white: #f7f7ff;


$color-primary: $color-medium-purple;
$color-background: $color-space-purple;

$common-shadow: 5px 5px 5px black;
$common-transition: all 500ms ease;